.header{
    height:7.125rem;
    display: flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom: 5.625rem;
    border-bottom: 1px solid var(--light-grayish-blue);
    padding: 0;
}

.nav{
  width:50%;
}

.nav ul{
  /* width: 100%; */
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.ancorList{
    display:flex;
    align-items:center;
    gap:2rem;
    width: 24.8125rem;
}
.itemNav{
  height: 7.125rem;
  display: flex;
  align-items: center;
}
.itemNav:hover{
  color:Black;
  border-bottom: solid var(--main-color);
}

.cart{
    margin-right:2.5rem;
    width:12rem;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:1rem;
}
.cartIcon{
  width:50%;
  background:none;
  border: none;
  padding:0.5rem 0.5rem;
  position:relative;
}

.cartIcon span{
  position:absolute;
  top:0;
  left:60%;
  width: 1rem;
  height: 1rem;
  border-radius:50%;
  padding: 0.15rem;
  background:var(--main-color);
  color:white;
}
.imgProfile{
    width:3.25rem;
    height: 3.25rem;
    padding: 0;
    border-radius: 50%;
    border:2px solid transparent;
    background: none;
    transition: border 0.5s linear;
}
.imgProfile:hover{
  border: 2px solid var(--main-color);
}
.imgProfile img{
    width:100%;
}
