.header{
    height:7.125rem;
    display: flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom: 5.625rem;
    border-bottom: 1px solid var(--light-grayish-blue);
    padding: 0;
}

.nav{
  width:50%;
}

.nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.ancorList{
    display:flex;
    align-items:center;
    gap:2rem;
    width: 24.8125rem;
}
.itemNav{
  height: 7.125rem;
  display: flex;
  align-items: center;
}
.itemNav:hover{
  color:Black;
  border-bottom: solid var(--main-color);
}

.cart{
    width:7.4375rem;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.cartIcon{
  background:none;
  padding:0.5rem 0.35rem;
  border:none;
  position: relative;
}

.cartIcon span{
  position:absolute;
  top:0;
  right:0;
  width: 1rem;
  height: 1rem;
  border-radius:50%;
  background:var(--main-color);
  color:white;
}
.imgProfile{
    width:3.25rem;
    height: 3.25rem;
    padding: 0;
    border-radius: 50%;
    border:2px solid transparent;
    background: none;
    transition: border 0.5s linear;
}
.imgProfile:hover{
  border: 2px solid var(--main-color);
}
.imgProfile img{
    max-width:100%;
}
